*, *::after, *::before {
    box-sizing: border-box;
}

h1 {
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size: 35px;
    background-image: url(https://www.seekpng.com/png/detail/47-477227_vietnam-war-drawing-war-whats-it-good.png);
    background-repeat: no-repeat;
    background-size: 60px 50px;
    background-position: 59% top;
}

#gameboard {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,4rem);
    grid-template-rows: 7rem 2rem 7rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
    border-radius: 5px;
    background-image: url(https://media.istockphoto.com/photos/empty-green-casino-poker-table-cloth-with-spotlight-picture-id1092139474?b=1&k=20&m=1092139474&s=170667a&w=0&h=Dk22bIfTqwhjykY8IaHoa8uuuiVgSPNssQtmH1S1myk=);
    background-origin: border-box;
    background-position: center;
    background-attachment: scroll; 
    /*might need to check background attachment later*/ 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 15px;
    position: relative;
    /* postition might not be needed*/
}


.computer-deck, .player-deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: rgb(128, 120, 76);
    background-image: url(https://cutewallpaper.org/24/playing-card-back-png/playing-card-back-design-png.png);
    background-position: center;
    background-size: 70px 120px;
    background-repeat: no-repeat;
    user-select: none;

}


.win-lose-text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-selected {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#card-selected::before, 
#card-selected::after {
    position: absolute;
    content: attr(data-value);
    font-size: 10px;
}

#card-selected::before {
    top: .5px;
    left: .5px;

}

#card-selected::after {
    bottom: .5px;
    right: .5px

}